---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Tu Sitio Web"
  description="Crea tu sitio web ideal con mi ayuda. Diseño y desarrollo de sitios web a medida. Diseño web personalizado y exclusivo. Diseño web profesional."
  keywords="inicio"
>
  <h1
    class="text-balance text-xl md:text-2xl lg:text-4xl font-bold text-center mx-4"
  >
    ¡Crea tu <span
      class="text-primary-500 animate-fade-in animate-fill-mode-both inline-block"
      >sitio web</span
    > ideal!
  </h1>
</Layout>

<style></style>
