<h2 class="text-4xl
font-title
text-center
text-balance
my-24">
  <slot />
</h2>

<style>
  h2 {
    --primary-opacity: 0;
    background-image: radial-gradient(
      ellipse 70% 16px at center,
      #228b2271,
      transparent 60%
    );
  }
</style>
