---
const CHARACTERISTICS = [
  {
    name: "Personalización",
    description:
      "Creación de un diseño web que refleje la identidad única de la marca, con una atención meticulosa a los detalles visuales y funcionales que diferencian al sitio de la competencia.",
    icon: "./icons/Brush icon.svg",
  },
  {
    name: "Ultima Tecnología",
    description:
      "Lo último en innovaciones tecnológicas en el ámbito del desarrollo web, asegurando que tu sitio web se mantenga líder en funcionalidad y eficiencia.",
    icon: "./icons/Chip icon.svg",
  },
  {
    name: "Velocidad",
    description:
      "Optimizar el tiempo de carga del sitio web mediante técnicas avanzadas de compresión de archivos y almacenamiento en caché para garantizar una navegación rápida y eficiente.",
    icon: "./icons/Bolt icon.svg",
  },
  {
    name: "Diseño Responsive",
    description:
      "Se asegura una experiencia de usuario coherente y accesible en todos los dispositivos, adaptando el diseño a diferentes tamaños de pantalla y orientaciones.",
    icon: "./icons/Devices icon.svg",
  },
  {
    name: "Estética Moderna",
    description:
      "Incorporar tendencias de diseño web modernas y elementos interactivos que mantengan el sitio actualizado y atractivo para los visitantes.",
    icon: "./icons/Sparkles icon.svg",
  },
  {
    name: "SEO",
    description:
      "Mejorar la visibilidad en línea del sitio web a través de la optimización para motores de búsqueda, aumentando así las posibilidades de ser encontrado por los usuarios.",
    icon: "./icons/Seo icon.svg",
  },
  {
    name: "Integración Social",
    description:
      "Facilitar la conexión y el compartir en redes sociales, ampliando el alcance del contenido y fomentando la interacción con la comunidad.",
    icon: "./icons/Users icon.svg",
  },
  {
    name: "Compatibilidad con Navegadores",
    description:
      "Tu sitio web funcionara sin problemas en los navegadores más usados, como Chrome, Firefox, Safari y Edge. Esto asegura que todos los usuarios disfruten de una experiencia uniforme y de calidad, independientemente del navegador que prefieran.",
    icon: "./icons/Browser icon.svg",
  },
  {
    name: "Accesibilidad Web",
    description:
      "Incorporación de accesibilidad desde el diseño inicial del sitio. Textos alternativos para imágenes, asegura una navegación intuitiva por teclado y considera el uso de lectores de pantalla, para que tu sitio sea accesible a personas con diferentes capacidades.",
    icon: "./icons/Accessible icon.svg",
  },
  {
    name: "Integración Multimedia",
    description:
      "Enriquece tu sitio web con una variedad de contenido multimedia. Integra imágenes de alta calidad, videos informativos y archivos de audio para ofrecer una experiencia rica y dinámica que capte la atención de tus visitantes.",
    icon: "./icons/Movie icon.svg",
  },
  {
    name: "Soporte Técnico y Mantenimiento",
    description:
      "Soporte técnico eficiente con mantenimiento proactivo. Esto garantiza que tu sitio web esté siempre en óptimas condiciones, actualizado con las últimas tecnologías y tendencias, y listo para atender cualquier incidencia.",
    icon: "./icons/Settings icon.svg",
  },
];
---

<section class="bg-gray-50 p-[0.1px] relative">
  <h2 class="text-4xl
  font-title
  text-center
  text-gray-800
  my-24">
    Características de nuestros servicios
  </h2>
  <ul class="flex flex-col gap-4 px-2 relative z-0">
    {
      CHARACTERISTICS.map(({ name, description, icon }, i) => {
        const odd = i % 2 === 1;

        return (
          <li class="characteristic max-w-[60ch] mx-auto relative">
            <div
              class={`flex items-center gap-4 z-20 bg-white py-2 px-6 rounded shadow-md ${odd ? "flex-row-reverse" : ""}`}
            >
              <img
                src={icon}
                alt={name}
                class="size-16 select-none pointer-events-none"
              />
              <div class="flex my-2 gap-2 flex-col items-start text-center">
                <h3 class="text-2xl font-subtitle w-full">{name}</h3>
                <p class="leading-relaxed">{description}</p>
              </div>
            </div>
            <div class="border -z-10" />
          </li>
        );
      })
    }
  </ul>

  <script>
    const characteristics = document.querySelectorAll(".characteristic");
    characteristics.forEach((characteristic, i) => {
      let percentage = 0;
      let leave = false;
      const duration = 500;
      const fps = 1000 / 60;
      const steps = duration / fps;

      const showGradient = async () => {
        while (percentage < 1 && !leave) {
          percentage += 1 / steps;
          if (percentage > 1) percentage = 1;

          let curve = 1 / (1 + Math.pow(10, -5 * (percentage - 0.5)));
          if (curve > 1) curve = 1;

          const characteristicElement = characteristic as HTMLElement;
          characteristicElement.style.setProperty(
            "--gradient",
            `conic-gradient( #4BD34B , #4BD34B ${100 * curve}%, transparent 0)`
          );
          await new Promise((resolve) => setTimeout(resolve, fps));
        }
      };

      const hideGradient = async () => {
        while (percentage > 0 && leave) {
          percentage -= 1 / steps;
          if (percentage < 0) percentage = 0;

          let curve = 1 / (1 + Math.exp(-10 * (percentage - 0.5)));
          if (curve < 0.01) curve = 0;

          const characteristicElement = characteristic as HTMLElement;
          characteristicElement.style.setProperty(
            "--gradient",
            `conic-gradient(#d34b98, #771d50 ${100 * curve}%, transparent 0)`
          );
          await new Promise((resolve) => setTimeout(resolve, fps));
        }
      };

      characteristic.addEventListener("mouseenter", () => {
        leave = false;
        showGradient();
      });

      characteristic.addEventListener("mouseleave", () => {
        leave = true;
        hideGradient();
      });
    });
  </script>

  <style>
    .border {
      width: 100%;
      height: 100%;
      inset: 0;
      filter: blur(4px);
      position: absolute;
      background: var(--gradient);
    }
    h3 {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
      text-decoration-color: var(--secondary-1);
    }
    li {
      view-timeline-name: --show;
      view-timeline-axis: block;
      animation-timeline: --show;
      animation-name: show;
      animation-range: entry 25% cover 40%;
      animation-fill-mode: both;
    }
    @keyframes show {
      from {
        opacity: 0;
        transform: translateY(40px) scale(0.9);
        filter: blur(2px);
      }
      to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
      }
    }
  </style>
</section>
