---
import ArrowBadge from "@/components/Icons/ArrowBadge.astro";
---

<section class="h-screen text-white content-center relative z-0">
  <div
    class="flex flex-col gap-x-4 items-center z-20 -translate-y-2/3 relative"
  >
    <h1
      class="text-balance text-2xl md:text-3xl lg:text-4xl font-bold font-title text-center my-8"
    >
      ¡Crea tu <span class="text-primary-500 inline-block">sitio web</span> ideal!
    </h1>
    <p
      class="text-gray-300 max-w-80ch md:text-xl text-balance text-center px-4"
    >
      Con nuestro servicio de diseño web, podrás tener un sitio web
      <span class="underline underline-offset-2">
        profesional, moderno y atractivo
      </span>
      para tu negocio o proyecto personal.
    </p>
  </div>
  <img
    src="/laptop.webp"
    alt="Fondo que contiene una laptop"
    id="lap"
    class="absolute pointer-events-none select-none min-h-[33%] object-cover w-full bottom-0 left-1/2 -translate-x-1/2 animate-fill-mode-both animate-fade-in aspect-[32/9] z-10"
  />
  <ArrowBadge
    class="absolute bottom-4 left-[calc(50%-24px)] z-20 size-12 animate-float animate-iteration-count-infinite animate-duration-[2s] text-primary-500 fill-primary-500"
  />
</section>

<style>
  img {
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  section {
    background-image: radial-gradient(
        ellipse 100% 50% at top center,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 40%
      ),
      linear-gradient(#0d0d0d, #0d0d0d);
  }
</style>
