---
import Browser from "@/components/Icons/Browser.astro";
---

<section class="grid items-center justify-center place-items-center px-4">
  <div class="">
    <h1
      class="text-balance text-xl md:text-2xl lg:text-4xl font-bold text-center"
    >
      ¡Crea tu <span class="text-primary-500 inline-block">sitio web</span> ideal!
    </h1>
    <p class="text-gray-700 text-pretty max-w-80ch">
      Con nuestro servicio de diseño web, podrás tener un sitio web profesional,
      moderno y atractivo para tu negocio o proyecto personal.
    </p>
  </div>
</section>
